body {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(4, 150px);
    gap: 1.6em;

}

.flip-card {
    background-color: transparent;
    width: 150px;
    height: 150px;
    perspective: 1000px;
    cursor: pointer;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: cornflowerblue;
    border-radius: 10px;
}

.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

.card-img {
    height: 100%;
    width: 100%;
}

.card-front-img {
    background-image: url(./img/blue_question_mark_icon.png);
    background-size: 65%;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    filter: saturate(0.9);
}

.card-back-img {
    background-color: darkred;
    background-image: url(./img/red_exclamation_mark.jpeg);
    background-size: cover;
}